.pdd-right-5 {
	padding-right: 5px
}

.mrg-top-30 {
	margin-top: 30px
}

.mrg-top-50 {
	margin-top: 30px
}

.mrg-left-30 {
	margin-left: 30px
}

.mrg-left-60 {
	margin-left: 30px
}

a {
	color: #6f9a37
}